include="~~/profiles.conf"

###########
# GPU API #
###########
# Controls which type of graphics APIs will be accepted, switch to "d3d11" (on Windows) or "opengl" if you have issues
# Uncomment one API only

###### Vulkan Linux, Windows (preferred)
gpu-api=vulkan

##########
# Player #
##########

#input-ipc-server=/tmp/mpvsocket
border=no				# recommended for ModernX OSC
msg-color=yes
msg-module=yes
keep-open=yes
force-window=immediate
load-unsafe-playlists=yes
user-agent='Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0'
force-seekable=yes
hr-seek=yes
hr-seek-framedrop=yes

###### General
# fullscreen=yes			# Always open the video player in full screen
# keep-open=yes				# Don't close the player after finishing the video
ontop
autofit=85%x85%				# Start mpv with a % smaller resolution of your screen
cursor-autohide=100			# Cursor hide in ms

###############
# Screenshots #
###############

screenshot-template="%x/Screens/Screenshot-%F-T%wH.%wM.%wS.%wT-F%{estimated-frame-number}"
screenshot-format=png			# Set screenshot format
screenshot-png-compression=4		# Range is 0 to 10. 0 being no compression.
screenshot-tag-colorspace=yes
screenshot-high-bit-depth=yes		# Same output bitdepth as the video

###########
# OSC/OSD #
###########

osd-bar=no					# Do not remove/comment if mpv_thumbnail_script_client_osc.lua is being used.
osd-font='Tepiosevka'			# Set a font for OSC
osd-font-size=30				# Set a font size

########
# Subs #
########

blend-subtitles=no
sub-ass-scale-with-window=no			# May have undesired effects with signs being misplaced.
sub-auto=fuzzy                         		# external subs don't have to match the file name exactly to autoload
# sub-gauss=0.6					# Some settings fixing VOB/PGS subtitles (creating blur & changing yellow subs to gray)
sub-file-paths-append=ass               	# search for external subs in these relative subdirectories
sub-file-paths-append=srt
sub-file-paths-append=sub
sub-file-paths-append=subs
sub-file-paths-append=subtitles
demuxer-mkv-subtitle-preroll=yes       		# try to correctly show embedded subs when seeking
embeddedfonts=yes				# use embedded fonts for SSA/ASS subs
sub-fix-timing=no                       	# do not try to fix gaps (which might make it worse in some cases). Enable if there are scenebleeds.

# Subs - Forced #

sub-font=Tepiosevka
sub-font-size=30
sub-blur=0.3
sub-border-color=0.0/0.0/0.0/0.8
sub-border-size=2.0
sub-color=0.9/0.9/0.9/1.0
sub-margin-x=100
sub-margin-y=50
sub-shadow-color=0.0/0.0/0.0/0.25
sub-shadow-offset=0

#########
# Audio #
#########

volume-max=200                          # maximum volume in %, everything above 100 results in amplification
audio-stream-silence                    # fix audio popping on random seek
audio-file-auto=fuzzy                   # external audio doesn't has to match the file name exactly to autoload
audio-pitch-correction=yes              # automatically insert scaletempo when playing with higher speed

# Languages #
alang=eng,en,enUS,en-US,de,ger		# Audio language priority
slang=vn,eng,en,und,de,ger,jp,jap 			# Subtitle language priority

##################
# Video Profiles #
##################

hwdec=auto-safe
vo=gpu-next
gpu-api=auto
gpu-context=auto

###### Dither
dither-depth=auto

###### Debanding
deband=yes
deband-iterations=4
deband-threshold=35
deband-range=16
deband-grain=4

###### SDR
tone-mapping=bt.2446a

###### HDR
target-colorspace-hint=yes

############
# Playback #
############

deinterlace=no # global reset of deinterlacing to off

#########
# Network #
#########
network-timeout=100
stream-lavf-o-append=reconnect_on_http_error=4xx,5xx
stream-lavf-o-append=reconnect_delay_max=30
stream-lavf-o-append=reconnect_streamed=yes
#stream-lavf-o-append=reconnect_on_network_error=yes

#########
# YTDL #
#########
#Tang toc mo video, cam on su chia se boi MrGTOP https://voz.vn/p/33484033/
script-opts=ytdl_hook-ytdl_path={{ .chezmoi.homeDir }}/.local/bin/yt-dlp,ytdl_hook-try_ytdl_first=yes,ytdl_hook-exclude="%.webm$|%.ts$|%.mp3$|%.m3u8$|%.m3u$|%.mkv$|%.mp4$|%.VOB$|%.wmv$|%.ogg$|%.mpd$|%.mov$|%.webm$|%.webp$|%.avi$|%.flv$|%.swf$|%.f4v$"
ytdl-raw-options-append=no-check-certificates=
ytdl-raw-options-append=yes-playlist=
#ytdl-raw-options-append=extractor-args=youtube:player_skip=webpage,configs,js;player_client=android,web;lang=vi,en
ytdl-raw-options-append=no-write-comments=
ytdl-raw-options-append=extractor-args=youtube:player_skip=js
#Chuyen sang Youtube VN may chu Youtube tra lai CDN gan Viet Nam, co the gay loi/thay doi ?
#ytdl-raw-options-append=extractor-args=youtube:lang=vi,en,ja
ytdl-raw-options-append=sub-langs=en,en-US,eng,vi,vi-VN,vie,ja,ja-JP,jap,live_chat
ytdl-raw-options-append=write-sub=
ytdl-raw-options-append=write-auto-sub=
#ytdl-raw-options-append=add-metadata=
#ytdl-raw-options-append=audio-multistreams=
#ytdl-raw-options-append=video-multistreams=

############################
# Protocol Specific Config #
############################

[protocol.http]
hls-bitrate=max # use max quality for HLS streams
cache=yes
no-cache-pause # don't pause when the cache runs low

[protocol.https]
profile=protocol.http

#########
# Profile #
#########
#Chi tiet: https://voz.vn/t/tong-hop-nhung-addon-chat-cho-firefox-pc-mobile.682181/post-24149834
#Luon de phan nay o cuoi file mpv.conf
[quality-youtube]
profile-cond=path:match"youtube" ~= nil or filename:match"youtube" ~= nil
profile-restore=copy
ytdl-format=bv[height>=?1080][vcodec*=?av01]/22/18/17/bv+ba/best

[quality-twitch]
profile-cond=path:match"twitch" ~= nil or filename:match"twitch" ~= nil
profile-restore=copy
ytdl-format=bv[container*=dash][proto*=http_dash_segments][height<=?480][fps<=?30][vcodec!=?vp9]+ba/bv+ba/best

[quality-twitter]
profile-cond=string.find(path, 'twitter.') ~= nil or string.find(path, 'x.com') ~= nil
profile-restore=copy
ytdl-format=bestvideo[height<=720][protocol*=m3u8]+bestaudio/best[height<=720][protocol*=m3u8]

[stream-thapcam]
profile-cond=string.find(path, 'live%-xlvb%.nsnd%.live') ~= nil
profile-restore=copy-equal
http-header-fields='Referer: https://g.zoomplayer.xyz/ Origin: https://g.zoomplayer.xyz/'
ytdl=no

[stream-no-ytdl]
profile-cond=string.find(path, '%.m3u') ~= nil or string.find(path, '%.mpd') ~= nil or string.find(path, '%.mp4') ~= nil or string.find(path, 'googlevideo%.') ~= nil or string.find(path, '%.jpg') ~= nil or string.find(path, '%.png') ~= nil or string.find(path, '%.epg') ~= nil or string.find(path, '%.ts') ~= nil or string.find(path, '%.xml') ~= nil or string.find(path, 'epg') ~= nil or string.find(path, 'EXTM3U') ~= nil
profile-restore=copy-equal
ytdl=no
